:root {
    --color-primary: F7BFD2;
    --color-secondary: 692126;
    font-family: 'Capriola', sans-serif;
    font-family: 'Nunito', sans-serif;
    color: #692126;
}

/* Estilos de la Landing Page*/

#title-landing-page{
    color: #692126;
    text-align: center;
    font-family: Capriola;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 

#parrafo-landing-page{
    color: #692126;
    text-align: center;
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;                                                                                
}

#landing-page{
    background: #F7BFD2; 
}

button{
    width: 400px;
    height: 100px;
    background: #692126;
    border-radius: 20px;
    border: none;
    color: #F7BFD2;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 40px 45px;
    cursor: pointer;
    box-shadow: 0px 10px 15px 0px rgba(105, 26, 31, 0.50);
    transition: 0.3s;
}

button:hover {
    background-color: #962f36;
  }

#landing-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-logo{
    display: flex;
    justify-content: center;
    align-items: center;  
}

#landing-logo img{
    width: 200px;
    height: 200px;
}
/* Fin de Estilos de la Landing Page*/


/* Estilos del home*/

body {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

header{
  display: block;
  position: relative; /* no se que aporta esto*/
  left: 0;
  right: 0;
  top: 0;
  max-width: 100%;
  
}

#parrafo-header{
  background-color: #F7BFD2;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  left: 0; 
  right: 0; 
  
  
}

/* dropdown menu*/
nav img{
    width: 100px;
    height: 100px;
    margin: 0 20px;
}
nav{
    background: #F5F5F5;
    padding: 0;
    list-style: none;
    position: relative;
    display: flex;
    justify-content:space-around;
    font-weight: 600;
    left: 0;
}

#inuselessbox{
  width: 100px;
  height: 100px;
  margin: 0 20px;
}

.dropdown {
    display: none;
    box-shadow: 0px 10px 15px 0px #691a1f80;
    background: #572f2f;
    border-radius: 0px;
    padding: 0;
    list-style: none;
  }
  
  .categorias-nav:hover> ul {
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  
  .menu-nav {
    background: #F5F5F5;
    padding: 0;
    list-style: none;
    position: relative;
  }
  
  .categorias-nav {
    float: left;
    padding: 0 30px;
  }
  
  .categorias-nav:hover a { 
    color: #fca6c3;
  }
  
  .categorias-nav a {
    display: block;
    padding: 10px 20px;
    color:#692126;
    text-decoration: none;
    font-size: 24px;
  }
  
  .subcategorias-nav {
    position: relative;
  }
  
  .subcategorias-nav a { 
    padding: 10px 20px;
    color: #fff;
    display: block;
    font-size: 20px;
  }
  
  .subcategorias-nav a:hover {
    background: #6a2b2b;
  }

  #hero-banner{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
  }

  #hero-banner img{
    height: 100%;
  }

  .content-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    padding: 20px;
    box-sizing: border-box; 
  }

  .content-banner img {
    margin-right: 20px; 
}

.productos-home{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 0;
    column-gap: 10px;
  }

  footer{
    text-align: center;
    position: relative;
    justify-content: center;
    padding-bottom: 20px ;
    bottom: 0;
    background-color: #F7BFD2;
    width: 100%;
  }

  .categorias-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    list-style: none;
  }

  .categorias-footer li {
    margin: 0 10px;
  }
 
  .categorias-footer a {
    color: #692126;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
  }
  .logotipocafe{
    width: 10% ;
    padding-top: 20px; 

  }

  .redes-sociales-footer{
    padding-top: 10px;
  }

  .redes-sociales-footer svg {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    color: #692126;
  }
    /* Tus estilos aquí */

  /* Estilos pagina producto individual */

  .producto-nanaideco {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
  }

  .producto-nanaideco img {
    width: 50%;
    margin-right: 20px;
  }

  .texto-producto-nanaideco {
    flex: 1;
  }

   /* Estilos catalogo de productos */
  .content-banner h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .content-banner p {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 40px;
  }


.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card h3 {
    margin: 20px 0;
}

.product-card a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
}

 /* Estilos FAQ */

 #faq-content{
 text-align: left;
  padding: 0 25%;
 }

 #faq-content p{
  text-align: left;
 }

 #faq-content li{
  padding: 10px ;
 }

 #faq-content a{
  text-decoration: none;
  color: #692126;
  font-weight: 700;
 }

  #faq-content a:hover{
    color: #962f36;
  }

  /* Estilos sobre-nanai */
  .aboutus-nanaideco{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
  }
  .aboutus-nanaideco img{
    width: 100%;
    margin-right: 20px;
  }

  .texto-izq{
    display: block;
    padding: 0 0 0 0;
    max-width: 40%;
  }

  .texto-izq h1{
    font-size: 2em;
    text-align: left;
    margin-bottom: 20px;
  }

  .texto-izq p{
    text-align: left;
  }