:root {
    --color-primary: F7BFD2;
    --color-secondary: 692126;
    font-family: 'Capriola', sans-serif;
    color: #692126;
}


/* Estilos del home*/

body {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

header{
  display: block;
  position: relative; 
  left: 0;
  right: 0;
  top: 0;
  max-width: 100%;
  
}

#parrafo-header{
  background-color: #F7BFD2;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  left: 0; 
  right: 0; 
  
  
}

/* dropdown menu*/
nav img{
    width: 100px;
    height: 100px;
    margin: 0 20px;
}
nav{
    font-family: 'Capriola', sans-serif;
    background: #F5F5F5;
    padding: 0;
    list-style: none;
    position: relative;
    display: flex;
    justify-content:space-around;
    font-weight: 500;
    left: 0;
}


#inuselessbox{
  width: 100px;
  height: 100px;
  margin: 0 20px;
}

.dropdown {
    display: none;
    box-shadow: 0px 10px 15px 0px #691a1f80;
    background: #572f2f;
    border-radius: 0px;
    padding: 0;
    list-style: none;
  }
  
  .categorias-nav:hover> ul {
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  
  .menu-nav {
    background: #F5F5F5;
    padding: 0;
    list-style: none;
    position: relative;
  }


  
  .categorias-nav {
    float: left;
    padding: 0 30px;
  }
  
  .categorias-nav:hover a { 
    color: #fca6c3;
  }
  
  .categorias-nav a {
    display: block;
    padding: 10px 20px;
    color:#692126;
    text-decoration: none;
    font-size: 24px;
  }
  
  .subcategorias-nav {
    position: relative;
  }
  
  .subcategorias-nav a { 
    padding: 10px 20px;
    color: #fff;
    display: block;
    font-size: 20px;
  }
  
  .subcategorias-nav a:hover {
    background: #6a2b2b;
  }

  /* Estilos Index*/

  #hero-banner{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
  }

  #hero-banner img{
    height: 100%;
  }

  .content-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    padding: 20px;
    box-sizing: border-box; 
  }

  .content-banner img {
    margin-right: 20px; 
}

.productos-home{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 0;
    column-gap: 10px;
  }

  .productos-home img{
    border-radius: 10px;
  }
  

  /* Footer repetido en todas las paginas*/

  footer{
    text-align: center;
    position: relative;
    justify-content: center;
    padding-bottom: 20px ;
    bottom: 0;
    background-color: #F7BFD2;
    width: 100%;
  }

  .categorias-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    list-style: none;
  }

  .categorias-footer li {
    margin: 0 10px;
  }
 
  .categorias-footer a {
    color: #692126;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
  }
  .logotipocafe{
    width: 10% ;
    padding-top: 20px; 
  }

  .redes-sociales-footer{
    padding-top: 10px;
  }

  .redes-sociales-footer svg {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    color: #692126;
  }
  

  /* Estilos página producto individual */

  .producto-nanaideco {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
    
  }

  .producto-nanaideco img {
    width: 45%;
    margin-right: 70px;
    border-radius: 10px;
  }


   /* Estilos catálogo de productos */

   .banner-products {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px;
  }

  .banner-products img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
  }
    
  .content-banner h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .content-banner p {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 40px;
  }


.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-card h3 {
    margin: 1.25 0;
}

.product-card a {
    display: inline-block;
    margin-top: 1.25em;
    padding: 0.625em 1.25em;
    background-color: #692126;
    border-radius: 0.625em;
    color: white;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

 /* Estilos FAQ */

 #faq-content{
  font-family: 'Capriola', sans-serif;
  text-align: left;
  padding: 0 25%;
 }

 #faq-content p{
  font-family: 'Nunito', sans-serif;
  text-align: left;
 }

 #faq-content li{
  font-family: 'Nunito', sans-serif;
  padding: 0.625px ;
 }

 #faq-content a{
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: #692126;
  font-weight: 700;
 }

  #faq-content a:hover{
    color: #962f36;
  }

  /* Estilos sobre-nanai */
  .aboutus-nanaideco{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
  }
  .aboutus-nanaideco img{
    width: 100%;
    margin-right: 20px;
  }

  .texto-izq{
    display: block;
    padding: 0 0 0 0;
    max-width: 50%;
    
  }

  .texto-izq h1{
    font-size: 2em;
    text-align: left;
    margin-bottom: 20px;
  }

  .texto-izq p{
    text-align: left;
    font-family: 'Nunito', sans-serif;  
  }

  
  /* Estilos responsivos*/

  @media screen and (min-width: 300px) and (max-width: 599px){

    .menu-nav{
      width: 100%;
    }
    #hero-banner{
      display: flex;
      place-items: center;
      align-items: center;
      justify-content: center;
      width: 80%;
    }	
    
    #parrafo-header{
      text-align: center;
      padding: 1em 10%;
    }
  
    #hero-banner{
      display: flex;
      justify-content: center;
      width: 50%;
      object-fit: contain;
    }
  
    .productos-home {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
      padding: 5% 10%;
    }
    
    .product-grid {
      grid-template-columns: repeat(1, 1fr);
    }
    
    .producto-nanaideco {
      flex-direction: column;
      text-align: left;
      padding: 10%;
      
    }
    .producto-nanaideco img {
      width: 80%;
      height: auto;
      place-items: center;
      margin-right: 70px;
    }
    
    .banner-products {
      width: 100%;
      padding: 2em;
    }
  
    #faq-content{
      padding: 0 10% ;
      width: 80%;
     }
  
     #faq-content li{
      padding: 2em ;
     }
     .aboutus-nanaideco{
     flex-direction: column;
     width: 100%;
    }
  
    .texto-izq{
    width: 100%;
     
    }
    .aboutus-nanaideco img{
      max-width:50%;
      margin-right: 20px;
    }
    footer{
      text-align: center;
      position: relative;
      justify-content: center;
      padding-bottom: 2em ;
      width: 100%;
    }
  
    .logotipocafe{
      width: 30% ;
      padding-top: 20px; 
    }
  
    .categorias-footer{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 2em;
      list-style: none;
    }
  }
  
  @media screen and (min-width: 600px)and (max-width: 767px) {
    #parrafo-header{
      text-align: center;
      padding: 0 10%;
    }
    .productos-home {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
      padding: 5% 10%;
    }
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
  
    }
    .banner-products {
      width: 100%;
      padding: 2em;
    }
  
    .producto-nanaideco {
      flex-direction: column;
      text-align: left;
      padding: 10%;
      
    }
    .producto-nanaideco img {
      width: 80%;
      height: auto;
      place-items: center;
      margin-right: 70px;
    }
    #faq-content{
      padding: 25% ;
      width: 100%;
     }
     .aboutus-nanaideco{
      flex-direction: column;
      width: 100%;
     }
   
     .texto-izq{
     width: 100%;
     }
     footer{
      text-align: center;
      position: relative;
      justify-content: center;
      padding-bottom: 2em ;
      width: 100%;
    }
  
    .logotipocafe{
      width: 0% ;
      padding-top: 20px; 
    }
   
  }