:root {
    --color-primary: F7BFD2;
    --color-secondary: 692126;
    font-family: 'Capriola', sans-serif;
    font-family: 'Nunito', sans-serif;
    color: #692126;
}


/* Estilos de la Landing Page*/

#title-landing-page{
    color: #692126;
    text-align: center;
    font-family: Capriola;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 

#parrafo-landing-page{
    color: #692126;
    text-align: center;
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;                                                                                
}

#landing-page{
    background: #F7BFD2; 
}

button{
    width: 400px;
    height: 100px;
    background: #692126;
    border-radius: 20px;
    border: none;
    color: #F7BFD2;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 40px 45px;
    cursor: pointer;
    box-shadow: 0px 10px 15px 0px rgba(105, 26, 31, 0.50);
    transition: 0.3s;
}

button:hover {
    background-color: #962f36;
  }

#landing-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-logo{
    display: flex;
    justify-content: center;
    align-items: center;  
}

#landing-logo img{
    width: 200px;
    height: 200px;
}
/* Fin de Estilos de la Landing Page*/


/* Estilos del home*/

#parrafo-header{
  text-align: center;
  background-color:#F7BFD2;
  width: 100%;
  height: 64px;
}



/* dropdown menu*/
nav{
    background: #F5F5F5;
    padding: 0;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.dropdown {
    display: none;
    box-shadow: 0px 10px 15px 0px #691a1f80;
    background: #572f2f;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
    list-style: none;
  }
  
  .categorias-nav:hover> ul {
    display: block;
  }
  
  .menu-nav {
    background: #F5F5F5;
    padding: 0;
    list-style: none;
    position: relative;
  }
  
  .categorias-nav {
    float: left;
  }
  
  .categorias-nav:hover {
    background: #F7BFD2;
  }
  
  .categorias-nav:hover a { 
    color: #b88d8d;
  }
  
  .categorias-nav a {
    display: block;
    padding: 10px 20px;
    color:#692126;
    text-decoration: none;
  }
  
  .subcategorias-nav {
    position: relative;
  }
  
  .subcategorias-nav a { 
    padding: 10px 20px;
    color: #fff;
    display: block;
  }
  
  .subcategorias-nav a:hover {
    background: #6a2b2b;
  }

  footer{
    text-align: center;
    position: absolute;
    justify-content: center;
    padding-bottom: 10px ;
    bottom: 0;
    background-color: #F7BFD2;
    width: 100%;

  }